.sider {
  color: var(--gray-100);
}

.logo {
  height: 128px;
  margin: 16px;

  h5 {
    color: var(--gray-100);
  }
}

.user {
  height: 64px;
  margin: 16px;

  p {
    font-size: 0.9rem;
  }

  svg {
    color: var(--red-500);
  }
}

.site-layout .site-layout-background {
  background: #fff;
}

[data-theme='dark'] .site-layout .site-layout-background {
  background: #141414;
}
